#root {
  max-width: 1600px; 
  margin: 0 auto; 
  padding: 20px; 
}
.custom-image {
  width: 40px; 
  height: auto; 
  margin: 0; 
  padding-right: 10px; 

h1 {
  margin: 0; 
  color: #343a40; 
  font-size: 24px; 
  text-align: start;
}